<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">

        <div>
            <input v-model="lenght">mm {{lenght|meter}}
        </div>
        <hr>
        <div>
            <input v-model="price"> {{price|currency('USD')}}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="filter.js"></script>
</body>

</html>